.board-container { 
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%; 
    width: 100%;
}

.board-container > * { 
    border: 1px red solid
}

/* .player-hand-container { 
   height: 100%; 
   width: 25%; 
}

.opponent-hand-container { 
    height: 100%; 
    width: 25%; 
} */

