.red-hand-card { 
    height: 0vh;
}

.blue-hand-card { 
    height: 0vh;    
}

.cursor-container { 
    position: absolute; 
    height: inherit;
    display: flex; 
    align-items: flex-start;
    margin-top: 100px;  
}

.cursor { 
    width: 8vw;
    margin-left: -3vw;
    display: none;
    z-index: 1;
}

.red-hand-card.selected-card { 
    margin-left: 30%;
}

.red-hand-card.selected-card > .cursor-container .cursor { 
    display: block;
    transform: scaleX(-1);
}

.red-hand-card.selected-card > .cursor-container { 
    margin-left: 17%; 
}

.blue-hand-card.selected-card { 
    margin-right: 30%;
}

.blue-hand-card.selected-card > .cursor-container .cursor { 
    display: block;
}

.card-image { 
    width: 100%;
}

.rank-container { 
    position: absolute;
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    margin-top: 20px; 
    margin-left: 17px;
    z-index: 1;
}

.rank-container img { 
    height: 3vh;
}

.red-card {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 50%, rgb(255, 0, 0) 100%);
}

.blue-card { 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,5,255,1) 100%);
}


