/* .card { 
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
}

.card-image {     
    align-self: center;  
}

.rank-container { 
    position: absolute;
    display: flex; 
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-left: 18px;
} */

.card { 
    height: 50px; 
    width: 50px;
}

.red-card {
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 50%, rgb(255, 0, 0) 100%);
}

.blue-card { 
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(0,5,255,1) 100%);
}
