
.home-container { 
    display: grid; 
    grid-template-rows: 1fr 2fr 1fr;
    background-color: white;
    height: 100vh;
    width: 100vw;
    background-image: url('../images/ff8-moogle.png');
    background-position: left;
    background-size: 700px 900px;
    background-repeat: no-repeat;
}

.home-1 { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.home-2 { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.home-3 { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

/* .home-container > * { 
    border: 1px red solid; 
}

.home-1 > * { 
    border: 1px red solid;
}

.home-2 > * { 
    border: 1px red solid;
}

.home-3 > * { 
    border: 1px red solid;
} */

.home-footer-3 { 
    display: flex; 
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.log-out-button, .quick-play-button, .collection-button { 
    width: 50%; 
}

.home-body-2 { 
    display: flex; 
    background-image: url('../images/info-box.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center; 
    flex-direction: column; 
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: 100%; 
    width: 100%;
}

