
.login-form-container { 
    display: flex; 
    background-image: url('../images/info-box.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    justify-content: center;
    align-items: center; 
    font-family: 'Open Sans', sans-serif;
    color: white;
    height: inherit; 
    width: inherit;
}

.login-ul { 
    list-style-type: none;
    height: 100%; 
    width: 100%;
}

.login-button { 
    width: 100%;
    background-color: skyblue;
}

.new-account-button { 
    width: 100%;
    background-color: gold;
}

input { 
    width: 100%;
}