.login-container { 
    display: grid; 
    grid-template-rows: 1fr 2fr 1fr;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

.login-container > * { 
    border: 1px red solid; 
}

.login-1 { 
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.login-1 > * { 
    border: 1px red solid;
}

.login-2 { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.login-3 { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.login-3 > * { 
    border: 1px red solid;
}

.login-header-2 { 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.title { 
    color: white !important;
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    z-index: 1;
}

.login-menu-2 { 
    height: 100%;
    width: 100%;
}

.footer-sig { 
    color: white;
    font-size: 100%;
    font-family: 'Open Sans', sans-serif;
    display: flex; 
    justify-content: center;
    align-items: flex-end;
    height: 90%;
}
